services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports: ["9000:9000", "9001:9001"]

  nessie:
    image: ghcr.io/projectnessie/nessie:latest
    container_name: nessie
    depends_on: [minio]
    ports: ["19120:19120"]
    environment:
      QUARKUS_HTTP_PORT: 19120
      nessie.iceberg.rest.enabled: "true"
      nessie.version.store.type: INMEMORY
      nessie.catalog.service.default-warehouse: s3://lake/warehouse
      nessie.catalog.service.s3.endpoint: http://minio:9000
      nessie.catalog.service.s3.region: us-east-1
      nessie.catalog.service.s3.accessKeyId: minioadmin
      nessie.catalog.service.s3.secretAccessKey: minioadmin
      nessie.catalog.service.s3.pathStyleAccess: "true"
      nessie.catalog.service.s3.sslEnabled: "false"

  mc:
    image: minio/mc:latest
    depends_on: [minio]
    entrypoint: ["/bin/sh","-c"]
    command: >
      "until (/usr/bin/mc alias set local http://minio:9000 minioadmin minioadmin) do sleep 1; done &&
       /usr/bin/mc mb --ignore-existing local/lake"
